* {
    padding: 0; 
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
} 

body {
    background-color: yellowgreen;
} 

.text{
    color: green;
} 

#center{
    text-align: center;
}

#Email{ 

    text-align: center;

} 

#boxemail{

    height: 40px;
}

.menu{
    text-align: left; 
    background-color: gray; 
    padding-inline: 10px; 
    height: 40px;  
    text-decoration: none;
    
} 

.picture{
    text-align: center;
    border-radius: 100%;
} 

.picture img{
    border-radius: 200%; 
    height: 250px; 
    width: 250px;
} 

#mensagem{
    height: 100px;
    width: 70%;
} 

#emails{
    height: 25px;
    width: 70%;
} 

.foto{
    text-align: center;
}


.text H2{
    color: rgb(204, 15, 15);
} 

.text H3{
    color: rgb(204, 15, 15);
} 


#boxemail{
    text-align: center;
} 

.boxmensagem{
    text-align: center;
} 

.rodape img{
    width: 100px;  

    
} 

.rodape{
    text-align: center; 

} 

.text{
    text-align: center;
}

